#mapsid{
    width:100%;
    height:640px;
}

#refreshButton {
  position: absolute;
  background-color:white;
  width:130px;
  top: 20px;
  right: 20px;
  padding: 10px;
  z-index: 400;
  box-shadow: 1px 1px 1px 1px;
}

#refreshButton button{
    width:100px;
}

.container-fluid{
    padding:0px;
    margin:0px;
}

#mapsidd{
    width:100%;
    height:640px;
}

.container-fluid{
    padding:0px;
    margin:0px;
}